<!DOCTYPE html>
<html>
    <head>
        <title>csv-convertor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">   
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
      </head>
<body>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="https://infraheroes.ir/">infraheroes</a>
  </nav>
    <div class="container">
        <h2>wordpress detector </h2>
        <form >
          <div class="form-group">
            <label for="email">file:</label>
            <input class="form-control" type="file" id="file">
          </div>
       
          <button id='process-file-button' type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>


  
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>

</body>

</html>